.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px 8px;
}

.customInput {
  max-width: 132px;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 15px;
  line-height: 133.33%;
  font-weight: 500;
  color: var(--Primitive-500);
  background: var(--Primitive-800);
  border-radius: 8px;
  flex: 1;
  height: 100%;
}
