.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--Primitive-800);
  background: var(--Primitive-900);
  padding: 16px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.active.header {
  border-radius: 12px 12px 0 0;
}

.icon {
  color: var(--Primitive-500);
  font-size: 16px;
}
